#reportSearch {
    padding-left:5%;
    width:25%;
    position: absolute;
    top:0%;
}

#reportListTitle {
    padding-left:48%;
}

#reportList{
    left:40%;
    position: absolute;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#reportCards {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px;
    margin: 15px;
}

.pagination{
    position: absolute;
    top:90%;
    left:44%;
}

#reportTable{
    border: black 1px;
}

.badge-notify{
    background:grey;
    position:relative;
    top: -15px;
    left: -20px;
    margin-right: -13px;
    min-width: 6px;
 }

#star{
    color: rgb(255, 187, 0);
    font-size: 18px;
}

#detailStar{
    position: absolute;
    float:right;
    right:0px;
    top:40px;
}

#favoritedHome{
    position: absolute;
    top:0%;
    left:5%;
}

#profileHome{
    position: absolute;
    top:0%;
    left:105%;
    padding-right: 0px;
}

#homeMain{
    padding-left: 35%;
}

#userImage{
    position: relative;
    width:30%;
    height: auto;
}

#usernameHome{
    top: 36%;
    left: 15%;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
}