
{% extends "base_generic.html" %}
{% load user_tags %}

{% block content %}
  <h2>Add Site Manager</h2>
  {% if request.user|has_group:"Site Manager"  %}
    <p>User has been added as Site Manager</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Add Site Manager</button>
    </form>
  {% else %}
    <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
  {% endif %}

{% endblock %}
