{% extends "base_generic.html" %}

{% block content %}
  {% if user.is_authenticated %}  
    <form style="padding-right:30%;" method="post">
      {% csrf_token %}
      <legend ><h2>New Report</h2></legend>
      {{ modelForm.as_p }}
      <a href="{% url 'add_reportFile'%}">Add new ReportFile</a>
      <br><br>
      <button type="submit" class="btn btn-primary">Add Report</button>
    </form>
  {% else %}
    <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
  {% endif %}

{% endblock %}
