{% extends "base_generic.html" %}

{% block content %}
  <h2>New Comment/Rating</h2>
  {% if user.is_authenticated %}

    <form method="post">
      {% csrf_token %}
      <a id="ratingStarLinks" onClick="rate(1)">
          <span id="ratingStar1" class="glyphicon glyphicon-star-empty"></span>
      </a>
      <a id="ratingStarLinks" onClick="rate(2)">
          <span id="ratingStar2" class="glyphicon glyphicon-star-empty"></span>
      </a>
      <a id="ratingStarLinks" onClick="rate(3)">
          <span id="ratingStar3" class="glyphicon glyphicon-star-empty"></span>
      </a>
      <a id="ratingStarLinks" onClick="rate(4)">
          <span id="ratingStar4" class="glyphicon glyphicon-star-empty"></span>
      </a>
      <a id="ratingStarLinks" onClick="rate(5)">
          <span id="ratingStar5" class="glyphicon glyphicon-star-empty"></span>
      </a>

      Add/Change Rating<br>
      <input id="ratingInput" type="number" name="rating" style="display: none;">
      <br>
      {{ form.as_p }}
      <br><br>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br><br>
    <a href="{% url 'reports'%}" class="btn btn-primary">Return to Reports</a>
    <div style="margin-left:20px;margin-top:20px">
    </div>
  {% else %}
    <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
  {% endif %}


{% endblock %}
