{% load user_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- {% block title %}<title>Lokahi Fintech Crowdfunding</title>{% endblock %} -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />

  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script type="text/javascript" src="{% static 'script/script.js' %}"></script>

</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Lokahi Fintech Crowdfunding</a>
    </div>
    <ul class="nav navbar-nav" style="float:right;">
      <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      {% if user.is_authenticated %}
        <!-- <li>User: {{ user.get_username }}</li> -->
        <li><a href="{% url 'groups'%}?next={{request.path}}"><span class="glyphicon glyphicon-th-large"></span> Groups</a></li>
        <li><a href="{% url 'reports'%}?next={{request.path}}"><span class="glyphicon glyphicon-file"></span> Reports</a></li>
        <li><a href="{% url 'create_report'%}?next={{request.path}}"><span class="glyphicon glyphicon-plus"></span> New Report</a></li>
        <li><a href="{% url 'messages'%}?next={{request.path}}"> <span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
        <li><a href="{% url 'logout'%}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% if request.user|has_group:"Site Manager"  %}
          <li><div class="dropdown" style="padding-top:5%;">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Site Manager
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="{% url 'suspend_user'%}?next={{request.path}}">Suspend User</a></li>
              <li><a href="{% url 'add_sm'%}?next={{request.path}}">Add Site Manager</a></li>
              <li><a href="{% url 'sm_add_to_group'%}?next={{request.path}}">SM Groups</a></li>
              <li><a href="{% url 'sm_delete_report'%}?next={{request.path}}">Delete Report</a></li>
              <li><a href="{% url 'sm_access_report'%}?next={{request.path}}">Access Report</a></li>
              <li><a href="{% url 'sm_edit_report'%}?next={{request.path}}">Edit Report</a></li>
            </ul>
          </div></li>

        {% endif %}
      {% else %}
         <li><a href="{% url 'login'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         <li><a href="{% url 'create_user'%}?next={{request.path}}"><span class="glyphicon glyphicon-user"></span> New User?</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<body onload="pageScript();">
  <div id = "content-container" class="container-fluid" style="padding-left:35%;">
    <div class="row">
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}

      </div>
    </div>

  </div>

  {% block pagination %}
  {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
        {% load url_tags %}
        <a href="?{% url_replace page=page_obj.previous_page_number %}">previous</a>
        {% endif %}
        <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        {% load url_tags %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">next</a>
        {% endif %}
        </span>
      </div>
  {% endif %}
  {% endblock %}
</body>
</html>
