{% extends "base_generic.html" %}

{% block content %}
    {% if user.is_authenticated %}

        <h1>{{ group.group_name }}</h1>
        <p>Group Members:</p>
        {% for member in group.members.all %}
        <li>
          {{member.get_username}}
        </li>
        {% endfor %}
        <br><br>
        {% for report in group.reports.all %}
        <div id = "reportCards" class="card text-center">
            <div class="card-block">
              <p style="position:absolute">
                  <a href="{% url 'star_report' report.id 'list' %}">
                    {% if user in report.stars.all %}
                    <span id="star" class="glyphicon glyphicon-star" style="float:left;">
                    {% else %}
                    <span id="star" class="glyphicon glyphicon-star-empty" style="float:left;">
                    {% endif %}
                  </a>
                  &nbsp;&nbsp;
                  <span class="badge badge-notify">
                      {{ report.stars.count }}
                  </span>

                </p>
              <h4 class="card-title">{{ report.reportName }}</h4>
              <p class="card-text">Created by: <b>{{ report.companyUser }}</b> on {{ report.timeStamp }}
                &nbsp; <span class="glyphicon glyphicon-file" style="float:right;">
                        <span class="badge badge-notify">{{ report.files.count }}</span>
                </span>
              </p>
              <a href="{{ report.get_absolute_url }}" class="btn btn-primary">
                  <span class="glyphicon glyphicon-th-list"> </span>
                  &nbsp; Detail View
                </a>
            </div>
          </div>
        {% endfor %}
        <br><br>
        <a href="{% url 'remove_from_group' group.id %}" class="btn btn-danger">
          Remove me
        </a>
        <br><br>
        <a href="{% url 'groups'%}" class="btn btn-primary">Return to Groups</a>
        <div style="margin-left:20px;margin-top:20px">
        </div>
    {% else %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% endif %}

{% endblock %}
