{% extends "base_generic.html" %}

{% block content %}
    {% if user.is_authenticated %}

        <h3>Subject: {{ message.message_subject }}</h3>
        <p>From: {{message.sender.username}}</p>
        <br><br>
        {% if message.should_display_unencrypted_message_text %}
        <p>{{message.decrypt}}</p>
        {% else %}
        <p>{{message.message_text}}</p>
        {% endif %}
        {% if not message.should_display_unencrypted_message_text %}
        <br><br>
        <a href="{% url 'decrypt_message' message.id %}" class="btn btn-warning">
          Decrypt Message
        </a>
        {% endif %}
        <br><br>
        <a href="{% url 'delete_message' message.id %}" class="btn btn-danger">
          Delete this Message
        </a>
        <br><br>
        <a href="{% url 'messages'%}">Return to Messages</a>
        <div style="margin-left:20px;margin-top:20px">
        </div>
    {% else %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% endif %}

{% endblock %}
