{% extends "base_generic.html" %}

{% block content %}
<h1 id="reportListTitle">View Reports</h1> 
    {% if user.is_authenticated %}
    <form id="reportSearch" action="{% url 'reports_search' %}"  method="get" accept-charset="utf-8">
        <h2>Search</h2>
        <br>
        <input name="reportName" type="text" placeholder="Report Name">
        <input name="reportNameExact" type="checkbox"> is exact
        <br><br>
        <input type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2018 2:00 PM" />
        <br><br>
        <input name="companyName" type="text" placeholder="Company Name">
        <input name="companyNameExact" type="checkbox"> is exact
        <br><br>
        <input name="companyCEO" type="text" placeholder="Company CEO">
        <input name="companyCEOExact" type="checkbox"> is exact
        <br><br>
        <input name="companyLocation" type="text" placeholder="Company Location">
        <input name="companyLocationExact" type="checkbox"> is exact
        <br><br>
        <input name="companyCountry" type="text" placeholder="Company Country">
        <input name="companyCountryExact" type="checkbox"> is exact
        <br><br>
        <input name="sector" type="text" placeholder="Sector">
        <input name="sectorExact" type="checkbox"> is exact
        <br><br>
        <input name="industry" type="text" placeholder="Industry">
        <input name="industryExact" type="checkbox"> is exact
        <br><br>
        <input name="currentProjects" type="text" placeholder="Current Projects Contains">
        <br><br>
        <input name="myReports" type="checkbox"> Only my reports
        <br>
        <input name="favorited" type="checkbox"> Favorited by me
        <br><br>
        <button class="btn btn-primary" type="submit">Search <span class="glyphicon glyphicon-search"></button>
        <br><br>
        <a href="{% url 'reports'%}?next={{request.path}}">Clear Search</a>
    </form>
        {% if user_reports %}
        <ul id="reportList">

        {% for report in user_reports %}
        <div id = "reportCards" class="card text-center">
            <div class="card-block">
              <p style="position:absolute">
                  <a href="{% url 'star_report' report.id 'list' %}">
                    {% if user in report.stars.all %}
                    <span class="glyphicon glyphicon-heart" style="float:left;">
                    {% else %}
                    <span class="glyphicon glyphicon-heart-empty" style="float:left;">
                    {% endif %}
                  </a>
                  &nbsp;&nbsp;
                  <span class="badge badge-notify">
                      {{ report.stars.count }}
                  </span>
                </p>
                
                <!-- <p style="position:absolute; padding-left:10%;">
                    <span id="comment" class="glyphicon glyphicon-comment" style="float:left;">
                  <span class="badge badge-notify" style="left:-23px; top:-17px;">
                      {{ report.comments.count }}
                  </span>
                </p> -->
              <h4 class="card-title">{{ report.reportName }}</h4>
              <p class="card-text">Created by: <b>{{ report.companyUser }}</b> on {{ report.timeStamp }} 
                &nbsp; <span class="glyphicon glyphicon-file" style="float:right;">
                        <span class="badge badge-notify">{{ report.files.count }}</span>
                </span>
              </p>
              <a href="{{ report.get_absolute_url }}" class="btn btn-primary">
                  <span class="glyphicon glyphicon-th-list"> </span>
                  &nbsp; Detail View
                </a>
            </div>
          </div>
        {% endfor %}

        </ul>

        {% else %}
        <p id="reportList">There are no reports.</p>
        {% endif %}       
    {% endif %}
{% endblock %}
