{% extends "base_generic.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <table class="table table-hover table-responsive table-fixed">
        <thead>
          <tr>
            <th colspan="3" >
            <p id="detailStar">
                <a href="{% url 'star_report' report.id 'detail' %}">
                  {% if user in report.stars.all %}
                  <span id="star" class="glyphicon glyphicon-star" style="float:left;">
                  {% else %}
                  <span id="star" class="glyphicon glyphicon-star-empty" style="float:left;">
                  {% endif %}
                </a>
                &nbsp;&nbsp;
                <span class="badge badge-notify">
                    {{ report.stars.count }}
                </span>
              </p>
              <h1>{{ report.reportName }}</h1>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Company Name</th>
            <td colspan="2">{{ report.companyName }}</td>
          </tr>
          <tr>
            <th scope="row">CEO</th>
            <td colspan="2">{{ report.companyCEO }}</td>
          </tr>
          <tr>
            <th scope="row">Company Phone</th>
            <td colspan="2">{{ report.companyPhone }}</td>
          </tr>
          <tr>
            <th scope="row">Company Email</th>
            <td colspan="2">{{ report.companyEmail }}</td>
          </tr>
          <tr>
            <th scope="row">Company Location</th>
            <td colspan="2">{{ report.companyLocation }}</td>
          </tr>
          <tr>
            <th scope="row">Company Country</th>
            <td colspan="2">{{ report.companyCountry }}</td>
          </tr>
          <tr>
            <th scope="row">Sector</th>
            <td colspan="2">{{ report.sector }}</td>
          </tr>
          <tr>
            <th scope="row">Industry</th>
            <td colspan="2">{{ report.industry }}</td>
          </tr>
          <tr>
            <th scope="row">Current Project(s)</th>
            <td colspan="2">{{ report.currentProjects }}</td>
          </tr>
          <tr>
            <th scope="row">Private Report</th>
            <td colspan="2">{% if report.accessType == "private" %} Yes {% else %} No {% endif %}</td>
          </tr>
          <tr>
            <th scope="row">Files Attached</th>
            <td colspan="2">{% for file in report.files.all %}
                {% if file.encrypted == False %}
                <li>
                <a href="../../{{file.file}}" download> 
                    <span class="glyphicon glyphicon-download-alt">
                </a>
                &nbsp;
                <a href="../../{{file.file}}" target="_blank"> 
                    <span class="glyphicon glyphicon-eye-open">
                </a>
                &nbsp;&nbsp;
                {{file}}
                </li>
                {% else %}
                <script type="text/javascript">
                    addEncCount();
                </script>
                {% endif %}
                {% endfor %}
                <li id="encryptedFiles">
                    <span class="glyphicon glyphicon-lock"></span>
                    &nbsp;&nbsp;
                    <div id="encCount" style="display:inline">0</div>
                </li>
                <script type="text/javascript">
                    addEncCount("a");
                </script>
                <li>
                  <a href="{% url 'add_file_to_report' report.id %}"><span class="glyphicon glyphicon-paperclip"></span></a>
                  &nbsp;&nbsp;&nbsp;Add Files
                </li>
            </td>
          </tr>
        </tbody>
      </table>
        <br><br>
        <a href="{% url 'reports'%}?next={{request.path}}">Return to Reports</a>
        <div style="margin-left:20px;margin-top:20px">
        </div>
    {% else %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% endif %}

{% endblock %}