{% extends "base_generic.html" %}

{% block content %}
<h1 id="reportListTitle">View Reports</h1>
    {% if user.is_authenticated %}
    <form id="reportSearch" action="{% url 'reports_search' %}"  method="get" accept-charset="utf-8">
        <h2>Search</h2>
        <br>
        <input name="reportName" type="text" placeholder="Report Name">
        <input name="reportNameExact" type="checkbox"> is exact
        <br><br>
        <input type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2018 2:00 PM" />
        <br><br>
        <input name="companyName" type="text" placeholder="Company Name">
        <input name="companyNameExact" type="checkbox"> is exact
        <br><br>
        <input name="companyCEO" type="text" placeholder="Company CEO">
        <input name="companyCEOExact" type="checkbox"> is exact
        <br><br>
        <input name="companyLocation" type="text" placeholder="Company Location">
        <input name="companyLocationExact" type="checkbox"> is exact
        <br><br>
        <input name="companyCountry" type="text" placeholder="Company Country">
        <input name="companyCountryExact" type="checkbox"> is exact
        <br><br>
        <input name="sector" type="text" placeholder="Sector">
        <input name="sectorExact" type="checkbox"> is exact
        <br><br>
        <input name="industry" type="text" placeholder="Industry">
        <input name="industryExact" type="checkbox"> is exact
        <br><br>
        <input name="myReports" type="checkbox"> only my reports
        <br><br>
        <button type="submit">Search</button>
        <br>
    </form>
        {% if user_reports %}
        <ul id="reportList">

        {% for report in user_reports %}
        <li>
            <a href="{{ report.get_absolute_url }}">
                {{ report.reportName }}</a> ({{report.companyUser}})
        </li>
        {% endfor %}

        </ul>

        {% else %}
        <p id="reportList">There are no reports.</p>
        {% endif %}       
    {% endif %}
{% endblock %}
