{% extends "base_generic.html" %}

{% block content %}
  <h2>New Message</h2>
  {% if user.is_authenticated %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class = "btn btn-primary">Send message</button>
    </form>
    <br><br><br><br>
    <a href="{% url 'messages'%}?next={{request.path}}">Return to Messages</a>
    <div style="margin-left:20px;margin-top:20px">
    </div>
  {% else %}
    <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
  {% endif %}

{% endblock %}
