{% extends "base_generic.html" %}

{% block content %}
  <u><h2 style="padding-bottom: 20px;"><b>{{report}}</b> : Comments</h2></u>
  <div>
    {% for comment in report.comments.all %}
        <div id="commentCard">
                <h4 class="card-text">Written by: <b>{{ comment.userName }}</b> on {{ comment.timeStamp }} </h4>
            {{comment}}
        </div>
    {% endfor %}
  </div>
  <br><br><br><br>
  <a href="{{ report.get_absolute_url }}" class="btn btn-primary">
    Return to Report
  </a>

  {% endblock %}