{% extends "base_generic.html" %}

{% block content %}
<h1 id="message_list_title">Your Messages</h1>
    {% if user.is_authenticated %}
        {% if messages %}
        <ul id="message_list">

        {% for message in messages %}
        <div id = "message_cards" class="card text-left">
            <div class="card-block">

              <h4 class="card-title">{{ message.message_subject }}</h4>

              {% if message.encrypted %}
              <p class="card-text">Sent from: <b>{{ message.sender }}</b> on {{ message.time_stamp }}
                &nbsp; <span class="glyphicon glyphicon-lock" style="float:right;"></span>
              </p>
              {% else %}
              <p class="card-text">Sent from: <b>{{ message.sender }}</b> on {{ message.time_stamp }}</p>
              {% endif %}

              <a href="{{ message.get_absolute_url }}" class="btn btn-primary">View Message</a>
            </div>
          </div>

        {% endfor %}



        {% else %}
        <p>You have no messages.</p>
        {% endif %}
        <a href='send_message'>Send a message</a>
        </ul>
    {% else %}
      <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% endif %}
{% endblock %}
